


<form method="post" action="/linkadded" >
	<input type="text" name="Name" placeholder="Name Your Bookmark" autofocus required>
	<input type="url" name="URL" placeholder="Name Your Bookmark" required>
	<input type="submit" value="Add">
</form>