


<form method="post" action="/addlink" >
	<input type="text" name="Name" placeholder="Name Your Bookmark" autofocus required>
	<input type="url" name="URL" placeholder="Name Your Bookmark" required>
	<input type="text" name="tag" placeholder="Add some tags">
	<input type="submit" value="Add">
</form>